body {
    background-color: black;
}
header {
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.board {
    border:5px solid red;
    height: 500px;
    width: 500px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.cell {
    border:2px solid blue;
}

# 0,0 {
    color: green;
    display:flex;
}

