body {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
}
header {
    display:flex;   
    justify-content: center;
    color: fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
}

.board {
    border:5px solid red;
    height: 500px;
    width: 500px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.cell {
    display: flex;
    border:2px solid blue;
    font-size: 80pt;
    justify-content: center;
    align-items: center;
    color:lime;
}
.restart {
    display:flex;
    justify-self: center;
    width:60px;
    background-color: aqua;
}
