/* Webpage body styling */
body {
    display: flex;
    flex-direction: column;
    background-color: black;
    /* Moving all the content to the middle of the webpage by using justify-content
    and  align items to the center. */
    justify-content: center;
    align-items: center;
}
/* styling the header that has our title Tic Tac Toe */
header {
    color: fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
}

.playerTurn {
    color:limegreen;
}
/* styling the game board */
.board {
    border:5px solid red;
    height: 500px;
    width: 500px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
/* styling the in the class called cell giving them that grid look by coloring their borders. */
.cell {
    display: flex;
    border-right:2px solid blue;
    border-top: 2px solid yellow;
    border-left:2px solid purple;
    border-bottom: darkturquoise;
    font-size: 80pt;
    justify-content: center;
    align-items: center;
    color:lime;
}
/* styling for the class restart in our button tag.*/
.restart {
    display:flex;
    justify-self: center;
    font-size: 20pt;
    width:100px;
    height: 35px;
    background-color: aqua;
}

.names {
    display:flex;
    justify-content: flex-start;
    align-self: flex-start;
    background-color: lightgrey;
    height:30px;
    width: 200px;
}
